Source: abraflexi-report-tools
Build-Depends: debhelper (>= 7.0.50~),po-debconf
Standards-Version: 3.9.8
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/AbraFlexi-Report-Tools
Section: development

Package: abraflexi-report-tools
Depends: ${misc:Depends},composer, php-cli, php-spojenet-abraflexi, jaspercompiler, composer-debian
Recommends: abraflexi-server, jasperstudio, abraflexi-client, dark-abraflexi-client
Architecture: all
Section: devel
Priority: optional
Description: commandline AbraFlexi Report tools
 Set of tools related to Abra Flexi custom Reports
 
