#!/usr/bin/make -f

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@

override_dh_install:
	dh_install
	install -m 644 debian/autoload.php \
		debian/abraflexi-report-tools/usr/share/abraflexi-report-tools/autoload.php
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
		debian/abraflexi-report-tools/usr/share/abraflexi-report-tools/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" \
		debian/abraflexi-report-tools/usr/share/abraflexi-report-tools/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" \
		debian/abraflexi-report-tools/usr/share/abraflexi-report-tools/autoload.php
	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" \
		debian/abraflexi-report-tools/usr/share/abraflexi-report-tools/autoload.php
	sed -i "s|dirname(__DIR__).'/src/|'/usr/share/abraflexi-report-tools/|" \
		debian/abraflexi-report-tools/usr/bin/abraflexi-upreport \
		debian/abraflexi-report-tools/usr/bin/abraflexi-previewreport \
		debian/abraflexi-report-tools/usr/bin/abraflexi-repxmlunpacker
	sed -i "s|require __DIR__.'/../vendor/autoload.php';|require '/usr/share/abraflexi-report-tools/autoload.php';|g" \
		debian/abraflexi-report-tools/usr/share/abraflexi-report-tools/*.php
	sed -i "/require_once '\.\.\/vendor\/autoload\.php'/d" \
		debian/abraflexi-report-tools/usr/share/abraflexi-report-tools/*.php
	sed -i '/\$$loaderPath = realpath/c\require '"'"'/usr/share/abraflexi-report-tools/autoload.php'"'"';' \
		debian/abraflexi-report-tools/usr/share/abraflexi-report-tools/*.php
	sed -i '/if (file_exists(\$$loaderPath))/,/^}$$/d' \
		debian/abraflexi-report-tools/usr/share/abraflexi-report-tools/*.php

override_dh_clean:
	dh_clean
	rm -rfv vendor
